@page
@model HelloWorld.Pages.Skillsets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skillset</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Skillset.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skillset.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skillset.Tools)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skillset.Tools)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skillset.Addskills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skillset.Addskills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skillset.Rating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skillset.Rating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Skillset.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Skillset.Profile.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Skillset.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
