@page
@model HelloWorld.Pages.Skillsets.IndexModel

@{
    ViewData["Title"] = "Skillset Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Skillset[0].Language)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skillset[0].Tools)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skillset[0].Addskills)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skillset[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Skillset[0].Profile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Skillset) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tools)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Addskills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Profile.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
