@page
@model HelloWorld.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Skills)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Skills)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Info)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Info)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Profile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Profile.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
