@page
@model SearchStudentModel
@{
}


<form action="" method="POST" style="margin-top: 50px;">
  <div class="form-group">
    <label class="control-label" for="search">University Name</label>
    <input type="text" class="form-control" name="searchstudent" id="search" value="@Model.SearchStudent" />
  </div>
  <div class="form-group">
    <input type="submit" value="Search Student" class="btn btn-default" />
  </div>
</form>



@if(Model.SearchCompleted) {
    <table class="table">
        <thead>
            <tr>
                <th>Student Name</th>
                <th>Degree Name</th>
                <th>University Name</th>
                
            </tr>
        </thead>
        <tbody>
            @if(Model.SearchResults.Count > 0) {
                @foreach(var Education in Model.SearchResults) {
                    <tr>
                        <td>@Education.Profile.Name</td>
                        <td>@Education.DegreeName</td>
                        <td>@Education.UniversityName</td>
                    </tr>
                }
            } else {
                <tr class="danger">
                    <td colspan="4" class="text-center">
                        No results found for term "@Model.SearchStudent"
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <div class="alert alert-info">
        <p>
            Enter the search terms into the box and click <strong>Search student</strong>
        </p>
    </div>
}